@model DateTimePickerMvc.Models.Person

@{
    ViewBag.Title = "Create";
}


<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Person</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name, new { autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.FName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FName)
            @Html.ValidationMessageFor(model => model.FName)
        </div>

        <hr />
         <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

           <div class="editor-label">
            @Html.LabelFor(model => model.PasswordConfirm)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PasswordConfirm)
            @Html.ValidationMessageFor(model => model.PasswordConfirm)
        </div>

        <hr />

        <div class="editor-label">
            @Html.LabelFor(model => model.BirthDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthDate)
            @Html.ValidationMessageFor(model => model.BirthDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State)
        </div>
        <div class="editor-field">  
            
             @Html.TextBoxFor(model => model.State, new { data_autocomplete_source = Url.Action("AutocompleteSearch"), @class = "ui-autocomplete-input" })

            @Html.ValidationMessageFor(model => model.State)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts{
     @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
     @System.Web.Optimization.Scripts.Render("/bundles/jqueryui")
     @System.Web.Optimization.Scripts.Render("~/jquery.validate")

     @System.Web.Optimization.Scripts.Render("~/Scripts/DateTimePicker/dateTimePicker.js")
     @System.Web.Optimization.Scripts.Render("~/Scripts/Autocomplete/DataAutocomplete.js")

}


   @System.Web.Optimization.Styles.Render("~/Content/themes/smoothness/css")

@section Footer {
    <hr/>
    Все права защищены. Evad. Corp. 2015.
}



