@model DateTimePickerMvc.Models.Person

@{
    ViewBag.Title = "Register";
}




@using (Html.BeginForm("Create", "Persons", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Person</legend>

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control",placeholder="введите имя пользователя" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

         <div class="form-group">
            @Html.LabelFor(m => m.FName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FName, new { @class = "form-control",placeholder="введите фамилию пользователя" })
                @Html.ValidationMessageFor(model => model.FName)
            </div>
        </div>

         <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control",placeholder="Password" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        
         <div class="form-group">
            @Html.LabelFor(m => m.PasswordConfirm, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.PasswordConfirm, new { @class = "form-control",placeholder="Confirm Password" })
                @Html.ValidationMessageFor(model => model.PasswordConfirm)
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BirthDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.State, new { @class = "form-control ui-autocomplete-input",data_autocomplete_source = Url.Action("AutocompleteSearch") })
                @Html.ValidationMessageFor(model => model.State)
            </div>
        </div>


        <p>
            <input type="submit" value="Create" class="btn" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts{
 
     @System.Web.Optimization.Scripts.Render("/bundles/jqueryui")
     @System.Web.Optimization.Scripts.Render("~/jquery.validate")

     @System.Web.Optimization.Scripts.Render("~/Scripts/DateTimePicker/dateTimePicker.js")
     @System.Web.Optimization.Scripts.Render("~/Scripts/Autocomplete/DataAutocomplete.js")
}

     @System.Web.Optimization.Styles.Render("~/Content/themes/smoothness/css")

@section Footer {
    <hr/>
    Все права защищены. Evad. Corp. 2015.
}



